<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%- htmlWebpackPlugin.options.metadata.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <div aurelia-app="main">
    <style type="text/css">
      .splash {
        width: 300px;
        height: 500px;

        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;

        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
      }

      .loader {
        font-size: 10px;
        margin: 50px auto;
        text-indent: -9999em;
        width: 11em;
        height: 11em;
        border-radius: 50%;
        background: rgb(46, 138, 150);
        background: -moz-linear-gradient(left, rgb(46, 138, 150) 10%, rgba(0, 128, 255, 0) 42%);
        background: -webkit-linear-gradient(left, rgb(46, 138, 150) 10%, rgba(0, 128, 255, 0) 42%);
        background: -o-linear-gradient(left, rgb(46, 138, 150) 10%, rgba(0, 128, 255, 0) 42%);
        background: -ms-linear-gradient(left, rgb(46, 138, 150) 10%, rgba(0, 128, 255, 0) 42%);
        background: linear-gradient(to right, rgb(46, 138, 150) 10%, rgba(0, 128, 255, 0) 42%);
        position: relative;
        -webkit-animation: loader-spinner 1.0s infinite linear;
        animation: loader-spinner 1.0s infinite linear;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
      }

      .loader:before {
        width: 50%;
        height: 50%;
        background: rgb(46, 138, 150);
        border-radius: 100% 0 0 0;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
      }

      .loader:after {
        background: #fff;
        width: 75%;
        height: 75%;
        border-radius: 50%;
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      @-webkit-keyframes loader-spinner {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes loader-spinner {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>

    <div class="splash">
      <img src="/static/logo-full.svg" alt="InstructorIQ" width="300">
      <div class="loader">Loading...</div>
    </div>
  </div>
  <% if (htmlWebpackPlugin.options.metadata.server) { %>
    <script src="/webpack-dev-server.js"></script>
    <% } %>
</body>

</html>
