@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm Email";
    Layout = "_AccountLayout";
}

@section Header {
    <i class="fas fa-user"></i> Confirm Email
}

<p>
    Thank you for confirming your email.
</p>
