@page "/account/link/{token}"
@model InstructorIQ.WebApplication.Pages.Account.LinkModel
@{
    ViewData["Title"] = "Link";
    Layout = "_DangerLayout";
}

@section Header {
    <i class="fas fa-exclamation-triangle"></i> Link Failed
}

<p>
    Your link either expired or was invalid.  Please try again.
</p>
