@page
@model InstructorIQ.WebApplication.Pages.Account.LoginCallbackModel
@{
    ViewData["Title"] = "Login";
    Layout = "_DangerLayout";
}

@section Header {
    <i class="fas fa-exclamation-triangle"></i> Login Failed
}

<p>
    Your login token either expired or was invalid.  Please try again.
</p>
