@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_AccountLayout";
}

@section Header {
    <i class="fas fa-user"></i> User Login
}

<form id="login-form"
      name="login-form"
      role="form"
      method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Input.Email">Email Address</label>
        <input asp-for="Input.Email"
               type="email"
               class="form-control"
               placeholder="Email Address">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Password">Password</label>
        <input asp-for="Input.Password"
               type="password"
               class="form-control"
               placeholder="Password">
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" />
                Remember Me?
            </label>
        </div>
    </div>

    <button id="login-button"
            type="submit"
            class="btn btn-primary">
        Login
    </button>

</form>

@section Footer {
    <div class="row">
        <div class="col text-center">
            <a asp-page="/Account/Register"
               asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </div>
        <div class="col text-center">
            <a asp-page="/Account/ForgotPassword">Forgot your password</a>
        </div>
    </div>
}

