<template>
  <header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none"
            type="button"
            app-body-toggler="sidebar-mobile-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"
       href="#">
      <img src="/static/logo-full-white.svg"
           alt="InstructorIQ"
           height="30">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none"
            type="button"
            app-body-toggler="sidebar-hidden">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="form-inline float-left px-4 d-md-down-none">
      <i class="fa fa-search"></i>
      <input class="form-control search-control"
             placeholder="Search"
             type="text">
    </form>
    <ul class="nav navbar-nav ml-auto"
        style="margin-right: 50px;">
      <li class="nav-item dropdown d-md-down-none"
          if.bind="authentication.authenticated & signal:'authentication-change'">
        <a id="navbarDropdownUser"
           href="#"
           class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          <gravatar email.bind="authentication.email"
                    size.bind="24"></gravatar>
          
        </a>
        <div class="dropdown-menu dropdown-menu-right"
             aria-labelledby="navbarDropdownUser">
             
          <div class="dropdown-header text-center">
            <span id="navbarIdentityUsername">${authentication.name}</span>
          </div>
            
          <a id="navbarIdentityProfile"
             class="dropdown-item"
             href="/user/profile">
            <i class="fa fa-user fa-fw"></i> Edit Profile</a>

          <div class="divider"></div>

          <a id="navbarIdentityLogout"
             class="dropdown-item"
             href=""
             click.delegate="logout()">
            <i class="fa fa-power-off fa-fw"></i> Logout</a>
        </div>
      </li>
      <li class="nav-item"
          if.bind="!authentication.authenticated & signal:'authentication-change'">
        <a class="nav-link"
           href="/login">
          Login
        </a>
      </li>

    </ul>

  </header>
</template>
