<template>
  <alert active.bind="notifier.alert.active"
         message.bind="notifier.alert.message"
         type.bind="notifier.alert.type"></alert>

  <form id="password-form"
        name="password-form"
        role="form"
        submit.delegate="saveForm()"
        dirty.bind="dirty"
        novalidate="novalidate">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="current-password-input">Current Password <span class="text-danger">*</span></label>
          <input id="current-password-input"
                 type="password"
                 class="form-control"
                 placeholder="Current Password"
                 value.bind="currentPassword & validate">
        </div>
        <div class="form-group">
          <label for="new-password-input">New Password <span class="text-danger">*</span></label>
          <input id="new-password-input"
                 type="password"
                 class="form-control"
                 placeholder="New Password"
                 value.bind="newPassword & validate">
        </div>
        <div class="form-group">
          <label for="confirm-password-input">Confirm Password <span class="text-danger">*</span></label>
          <input id="confirm-password-input"
                 type="password"
                 class="form-control"
                 placeholder="Confirm Password"
                 value.bind="confirmPassword & validate">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <busy-button id="save-password-button"
                     label="Save"
                     disabled.bind="!dirty"
                     busy.bind="loading"
                     busy-label="Saving..."></busy-button>

        <button id="undo-password-button"
                type="reset"
                disabled.bind="!dirty || loading"
                class="btn btn-secondary">Cancel</button>
      </div>
    </div>

  </form>
</template>
