<template>
  <alert active.bind="notifier.alert.active"
         message.bind="notifier.alert.message"
         type.bind="notifier.alert.type"></alert>

  <form id="profile-form"
        name="profile-form"
        role="form"
        submit.delegate="saveForm()"
        dirty.bind="dirty"
        novalidate="novalidate">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="name-input">Display Name <span class="text-danger">*</span></label>
          <input id="name-input"
                 type="text"
                 class="form-control"
                 placeholder="Display Name"
                 value.bind="displayName & validate">
        </div>
        <div class="form-group">
          <label for="email-input">Email Address <span class="text-danger">*</span></label>
          <input id="email-input"
                 type="email"
                 class="form-control"
                 placeholder="Email Address"
                 value.bind="emailAddress & validate">
        </div>
      </div>
      <div class="col">
        <gravatar email.bind="authentication.email"
                  class="rounded-circle d-block mx-auto"
                  size.bind="200"></gravatar>
        <p class="caption center-block text-center">
          You can change your picture at <a class="external" href="http://gravatar.com/" target="_blank">Gravatar.com</a>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <busy-button id="save-button"
                     label="Save"
                     disabled.bind="!dirty"
                     busy.bind="loading"
                     busy-label="Saving..."></busy-button>

        <button id="cancel-button"
                type="button"
                click.trigger="loadForm()"
                disabled.bind="!dirty || loading"
                class="btn btn-secondary">Cancel</button>
      </div>
    </div>

  </form>
</template>
