<template>
  <require from="./profile-form"></require>
  <require from="./password-form"></require>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <i class="fas fa-user mr-2"></i> Profile
          </div>
          <div class="card-body">
            <div class="tab-container">
              <ul class="nav nav-tabs"
                  id="userProfileTabList"
                  role="tablist">
                <li class="nav-item">
                  <a class="nav-link active"
                     id="profile-tab"
                     data-toggle="tab"
                     href="#profile"
                     role="tab"
                     aria-controls="profile"
                     aria-selected="true">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                     id="password-tab"
                     data-toggle="tab"
                     href="#password"
                     role="tab"
                     aria-controls="password"
                     aria-selected="false">Password</a>
                </li>
              </ul>
              <div class="tab-content"
                   id="userProfileTabContent">
                <div class="tab-pane fade show active"
                     id="profile"
                     role="tabpanel"
                     aria-labelledby="profile-tab">
                  <profile-form></profile-form>
                </div>
                <div class="tab-pane fade"
                     id="password"
                     role="tabpanel"
                     aria-labelledby="password-tab">
                  <password-form></password-form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</template>
