<template>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <i class="fas fa-user mr-2"></i> Profile
          </div>
          <div class="card-body">
            <div class="tab-container">
              <ul class="nav nav-tabs">
                <li class="nav-item"
                    repeat.for="nav of router.navigation">
                  <a id="${nav.config.name}-tab"
                     title.bind="nav.title"
                     class="nav-link ${nav.isActive ? 'active' : ''}"
                     href.bind="nav.href">${nav.title}</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active">
                  <router-view></router-view>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
