<template>
  <div class="container">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Groups</li>
      </ol>
    </nav>

    <div class="card mb-5">
      <div class="card-header">
        <i class="fas fa-th-list mr-2"
           aria-hidden="true"></i> Groups
        <div class="btn-toolbar float-right">
          <form id="group-search-form"
                name="group-search-form"
                role="form"
                submit.delegate="search()"
                novalidate="novalidate">
            <div class="input-group input-group-sm mr-2">
              <input type="text"
                     value.bind="searchText"
                     class="form-control"
                     placeholder="Search">
              <div class="input-group-append">
                <button class="btn btn-sm btn-outline-secondary"
                        type="submit">
                  <i class="fas fa-search"
                     aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </form>
          <a href="/group/create"
             title="Create New Group"
             class="btn btn-sm btn-primary">Create</a>
        </div>
      </div>

      <div class="card-block p-0">
        <div class="table-responsive">
          <table class="table table-bordered table-sm m-0">
            <colgroup>
              <col style="width: 90px">
              <col style="">
              <col style="">
              <col style="">
              <col style="width: 90px">
            </colgroup>
            <thead class="">
              <tr>
                <th>Sequence</th>
                <th>Name</th>
                <th>Description</th>
                <th>Updater</th>
                <th>Updated</th>
              </tr>
            </thead>
            <tbody>
              <tr repeat.for="group of result.data">
                <td>${group.sequence}</td>
                <td>
                  <a href="/group/${group.id}"
                     title="Edit Group"
                     class="d-block">${group.name}</a>
                </td>
                <td>${group.description}</td>
                <td>${group.updatedBy}</td>
                <td>${group.updated | dateFormat:'MM/DD/YYYY'}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card-footer p-0">
        <div class="row">
          <div class="col">
            <a href="/group/create"
               title="Create New Group"
               class="btn btn-sm btn-primary mt-3 ml-3">Create</a>
          </div>
          <div class="col">
            <pagination page-size.bind="pageSize"
                        current-page.bind="page"
                        total-items.bind="result.total"
                        boundary-links="true"
                        pagination-class="pagination pagination-sm justify-content-end mt-3 mr-3"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
