<template>
  <div class="card mb-5">
    <div class="card-header">
      <i class="fas fa-th-list mr-2"
         aria-hidden="true"></i> Groups
      <div class="btn-toolbar float-right">
        <div class="input-group input-group-sm mr-2">
          <input type="text"
                 class="form-control"
                 placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary"
                    type="button">
              <i class="fas fa-search"
                 aria-hidden="true"></i>
            </button>
          </div>
        </div>
        
          <button type="button"
                  class="btn btn-primary">Create</button>
        

      </div>
    </div>
    <div class="card-block p-0">
      <table class="table table-bordered table-sm m-0">
        <thead class="">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Registration Date</th>
            <th>E-mail address</th>
            <th>Premium Plan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              
            </td>
            <td>John Lilki</td>
            <td>September 14, 2013</td>
            <td>jhlilk22@yahoo.com</td>
            <td>No</td>
          </tr>
          <tr>
            <td>
              
            </td>
            <td>John Lilki</td>
            <td>September 14, 2013</td>
            <td>jhlilk22@yahoo.com</td>
            <td>No</td>
          </tr>
          <tr>
            <td>
              
            </td>
            <td>John Lilki</td>
            <td>September 14, 2013</td>
            <td>jhlilk22@yahoo.com</td>
            <td>No</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer p-0">
      <div class="row">
        <div class="col">
          <button type="button"
                  class="btn btn-sm btn-primary mt-3 ml-3">Create</button>
        </div>      
        <div class="col">
          <nav aria-label="...">
            <ul class="pagination pagination-sm justify-content-end mt-3 mr-3">
              <a class="page-link"
                 href="#"
                 aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
              <li class="page-item"><a class="page-link"
                   href="#">1</a></li>
              <li class="page-item active">
                <span class="page-link">2<span class="sr-only">(current)</span>
                </span>
              </li>
              <li class="page-item"><a class="page-link"
                   href="#">3</a></li>
              <li class="page-item">
                <a class="page-link"
                   href="#"
                   aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </div>
</template>
