<template>
  <div class="container">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/groups">Groups</a></li>
        <li class="breadcrumb-item active"
            aria-current="page">Edit</li>
      </ol>
    </nav>

    <div class="card mb-5">
      <div class="card-header">
        <i class="fas fa-users mr-2"
           aria-hidden="true"></i> Group
      </div>
      <div class="card-body">
        <alert active.bind="notifier.alert.active"
               message.bind="notifier.alert.message"
               type.bind="notifier.alert.type"></alert>

        <form id="group-form"
              name="group-form"
              role="form"
              submit.delegate="processForm()"
              dirty.bind="dirty"
              novalidate="novalidate">
          <div class="form-group">
            <label for="name-input">Name <span class="text-danger">*</span></label>
            <input id="name-input"
                   type="text"
                   class="form-control"
                   placeholder="Name"
                   value.bind="name & validate" />
          </div>
          <div class="form-group">
            <label for="description-input">Description</label>
            <textarea id="description-input"
                      rows="10"
                      class="form-control"
                      placeholder="Description"
                      value.bind="description & validate"></textarea>
          </div>
          <div class="form-group">
            <label for="sequence-input">Sequence <span class="text-danger">*</span></label>
            <input id="sequence-input"
                   type="number"
                   class="form-control"
                   placeholder="Sequence"
                   value.bind="sequence & validate" />
          </div>

          <div class="row">
            <div class="col">
              <busy-button id="save-button"
                           label="Save"
                           disabled.bind="!dirty"
                           busy.bind="loading"
                           busy-label="Saving..."></busy-button>

              <button id="cancel-button"
                      type="button"
                      click.trigger="resetForm()"
                      disabled.bind="!dirty || loading"
                      class="btn btn-secondary">Cancel</button>

              <confirm-button label="Delete"
                              class="float-right"
                              message="Are you sure you want to delete this group?"
                              action.call="delete()"></confirm-button>
            </div>
        </form>
      </div>
    </div>
  </div>
</template>
