<template>
  <div class="card">
    <div class="card-header">
      <i class="fa fa-th-list"
         aria-hidden="true"></i> Groups
      <div class="btn-toolbar float-right">
        <div class="input-group input-group-sm mr-2">
          <input type="text"
                 class="form-control"
                 placeholder="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary"
                    type="button">
              <i class="fa fa-search"
                 aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-secondary">1</button>
            <button type="button" class="btn btn-outline-secondary">2</button>
            <button type="button" class="btn btn-outline-secondary">3</button>
            <button type="button" class="btn btn-outline-secondary">4</button>
          </div>

      </div>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
    <div class="card-footer">
      <div class="row">
        <div class="col">
          <nav aria-label="Page navigation">
            <ul class="pagination"
                style="margin-bottom: 0;">
              <li class="page-item">
                <a class="page-link"
                   href="#"
                   aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link"
                   href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link"
                   href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link"
                   href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link"
                   href="#"
                   aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-2">
          <div class="float-md-right">
            <button class="btn btn-primary">Create</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
