@page "/global/tenant/create"
@using InstructorIQ.Core.Services
@model InstructorIQ.WebApplication.Pages.Global.Tenant.CreateModel
@{
    ViewData["Title"] = "Create Tenant";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/global/tenant/index">Tenants</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Create Tenant</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-building mr-2"
               aria-hidden="true"></i> Tenant
        </div>
        <div class="card-body">
            <form id="tenant-form"
                  name="tenant-form"
                  role="form"
                  method="post">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Entity.Name">Name <required /></label>
                    <input asp-for="Entity.Name"
                           type="text"
                           class="form-control"
                           placeholder="Name" />
                    <span asp-validation-for="Entity.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Entity.Description">Description</label>
                    <textarea asp-for="Entity.Description"
                              rows="5"
                              class="form-control"
                              placeholder="Description"></textarea>
                    <span asp-validation-for="Entity.Description" class="text-danger"></span>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Entity.Slug">Slug <required /></label>
                        <input asp-for="Entity.Slug"
                               type="text"
                               class="form-control"
                               placeholder="Slug" />
                        <span asp-validation-for="Entity.Slug" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Entity.DomainName">Domain Name</label>
                        <input asp-for="Entity.DomainName"
                               type="text"
                               class="form-control"
                               placeholder="Domain Name" />
                        <span asp-validation-for="Entity.DomainName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="Entity.City">City</label>
                        <input asp-for="Entity.City"
                               type="text"
                               class="form-control"
                               placeholder="City" />
                        <span asp-validation-for="Entity.City" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="Entity.StateProvince">State</label>
                        <select asp-for="Entity.StateProvince"
                                asp-items="SelectItemFactory.States()"
                                class="form-control">
                            <option value="">- State -</option>
                        </select>
                        <span asp-validation-for="Entity.StateProvince" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group">
                    <label asp-for="Entity.TimeZone">Time Zone <required /></label>
                    <select asp-for="Entity.TimeZone"
                            asp-items="SelectItemFactory.TimeZones()"
                            class="form-control">
                        <option value="">- Time Zone -</option>
                    </select>
                    <span asp-validation-for="Entity.TimeZone" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col">
                        <button id="save-button"
                                type="submit"
                                class="btn btn-primary">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

