@page  "/topic/{id:Guid}/planning/edit"
@model EditModel
@{
    ViewData["Title"] = $"Topic {Model.Entity.Title}";
    ViewData["TopicTitle"] = $" - {Model.Entity.Title}";
    ViewData["TopicTab"] = "Planning";

    Layout = "_TopicLayout";
}
<div class="card-body">
    <form id="planning-form"
          name="planning-form"
          role="form"
          method="post">

        <input type="hidden" asp-for="Entity.Title" />

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Entity.LessonPlan">Lesson Plan</label>
            <textarea asp-for="Entity.LessonPlan"
                      rows="5"
                      class="form-control"></textarea>
            <span asp-validation-for="Entity.LessonPlan" class="text-danger"></span>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button id="save-button"
                        type="submit"
                        class="btn btn-primary">
                    Save
                </button>
                <a id="cancel-button"
                   asp-page="/topic/planning/view"
                   asp-route-tenant="@Model.TenantRoute"
                   asp-route-id="@Model.Id"
                   class="btn btn-secondary">
                    Cancel
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.0.16/tinymce.min.js"
            integrity="sha256-DwA/5XvQk7JerRG73GsRcEUM+ESubaliT2xRpDtIKNA="
            crossorigin="anonymous"></script>

    <script>
        $(function () {
            tinymce.init({
                selector: '#@Html.IdFor(p => p.Entity.LessonPlan)',
                plugins: [
                    'autoresize autolink lists link image charmap',
                    'template visualblocks code imagetools',
                    'table paste code wordcount quickbars'
                ],
                toolbar: 'undo redo | formatselect | bold italic underline | forecolor | link image | alignleft aligncenter alignright alignjustify | bullist numlist | table | template removeformat',
                menubar: false,
                max_height: 800,
                browser_spellcheck: true,
                relative_urls: false,
                remove_script_host : false,
                contextmenu: false
            });

            $("#planning-form").dirty({
                preventLeaving: true
            });
        });
    </script>
}
