<template>
  <require from="views/layout/sidebar/app-sidebar-nav-title"></require>
  <require from="views/layout/sidebar/app-sidebar-nav-divider"></require>
  <require from="views/layout/sidebar/app-sidebar-nav-item"></require>
  <require from="views/layout/sidebar/app-sidebar-nav-dropdown"></require>
  
  <nav class="sidebar-nav">
    <ul class="nav">
      <template repeat.for="navigation of sidebarNavigation.navigationList">
        <compose view-model="views/layout/sidebar/app-sidebar-nav-${navigation.type}"
                 model.bind="navigation"></compose>
      </template>
    </ul>
  </nav>
</template>
