@page "/user/profile"
@model InstructorIQ.WebApplication.Pages.User.ProfileModel
@{
    ViewData["Title"] = "Profile";
    ViewData["UserTab"] = "Profile";

    Layout = "_UserLayout";
}


<form id="profile-form"
      name="profile-form"
      role="form"
      method="post">

    <div class="row">
        <div class="col">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.DisplayName">Display Name <required /></label>
                <input asp-for="Input.DisplayName"
                       type="text"
                       class="form-control"
                       placeholder="Display Name" />
                <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Input.GivenName">First Name </label>
                    <input asp-for="Input.GivenName"
                           type="text"
                           class="form-control"
                           placeholder="First Name" />
                    <span asp-validation-for="Input.GivenName" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Input.FamilyName">Last Name </label>
                    <input asp-for="Input.FamilyName"
                           type="text"
                           class="form-control"
                           placeholder="Last Name" />
                    <span asp-validation-for="Input.FamilyName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.JobTitle">Job Title </label>
                <input asp-for="Input.JobTitle"
                       type="text"
                       class="form-control"
                       placeholder="Job Title" />
                <span asp-validation-for="Input.JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email">Email Address <required /></label>
                <input asp-for="Input.Email"
                       type="email"
                       class="form-control"
                       placeholder="Email Address" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber">Phone Number</label>
                <input asp-for="Input.PhoneNumber"
                       class="form-control"
                       placeholder="Phone Number" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-6">
            <gravatar email="@User.Identity.Name"
                      class="rounded-circle d-block mx-auto"
                      size="200"></gravatar>
            <p class="text-center">
                You can change your picture at <a href="http://gravatar.com/" 
                                                  target="_blank">Gravatar.com</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="save-button"
                    type="submit"
                    class="btn btn-primary">
                Save
            </button>

            <button id="cancel-button"
                    type="reset"
                    class="btn btn-secondary">
                Cancel
            </button>
        </div>
    </div>

</form>