@page "/topic/{id:Guid}/history"
@model ViewModel
@{
    ViewData["Title"] = $"Topic {Model.Entity.Title}";
    ViewData["TopicTitle"] = $" - {Model.Entity.Title}";
    ViewData["TopicTab"] = "History";

    Layout = "_TopicLayout";
}
<div class="card-body">
    <h1>History</h1>

    <p>Coming Soon ...</p>
</div>