
.calendar-header-title {
    font-size: 18pt;
    font-weight: 800;
    width: 100%;
}

.calendar-header-date {
    font-size: 14pt;
    font-weight: 600;
    width: 100%;
    margin-bottom: 10px;
}

.monthly-table {
    width: 100%;
    min-width: 600px;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    empty-cells: show;
}

.monthly-date {
    background-color: #6F6F6F;
    border: 1px solid #6F6F6F;
    color: #FFF;
    font-weight: 600;
    width: 30px;
    white-space: nowrap;
    position: relative;
}

.monthly-date-container {
    padding: 0;
    border-top: 1px solid #6F6F6F;
}

.monthly-date-table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    empty-cells: show;
}

.monthly-attendee,
.monthly-topic,
.monthly-label,
.monthly-data {
    width: 220px;
}

.monthly-attendee {
    background-color: #6F6F6F;
    border: 1px solid #6F6F6F;
    color: #FFF;
    font-weight: 600;
    font-size: 90%;
    padding: .15rem .20rem;
    text-align: center;
}

    .monthly-attendee a:link,
    .monthly-attendee a:visited,
    .monthly-attendee a:hover,
    .monthly-attendee a:active {
        text-decoration: none;
        color: #FFF
    }

    .monthly-attendee small {
        font-size: 60%;
    }

.monthly-topic {
    background-color: #c0c0c0;
    color: #000;
    font-weight: 600;
    font-size: 90%;
    border: 1px solid #6F6F6F;
    padding: .15rem .20rem;
    text-align: center;
}

    .monthly-topic a:link,
    .monthly-topic a:visited,
    .monthly-topic a:hover,
    .monthly-topic a:active,
    .monthly-data a:link,
    .monthly-data a:visited,
    .monthly-data a:hover,
    .monthly-data a:active {
        text-decoration: none;
        color: #000
    }

.required {
    color: #990000;
}


.monthly-topic > .required {
    display: block;
}

.vertical-text {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    top: 120px;
    left: -16px;
    width: 60px;
}

.monthly-label {
    font-size: 70%;
    font-style: italic;
    padding: .10rem .50rem;
    border-right: 1px solid #6F6F6F;
    border-left: 1px solid #6F6F6F;
}

.monthly-data {
    font-size: 90%;
    padding: .10rem .50rem;
    border-right: 1px solid #6F6F6F;
    border-left: 1px solid #6F6F6F;
    border-bottom: 1px solid #6F6F6F;
    vertical-align: top;
    height: 20px;
}

.year-month-table {
    min-width: 600px;
}

.year-month-table,
.year-date-table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    empty-cells: show;
    page-break-inside: avoid;
}

    .year-month-table .year-month-header {
        background-color: #6F6F6F;
        border: 1px solid #6F6F6F;
        color: #FFF;
        font-weight: 600;
        font-size: 90%;
        padding: .20rem;
        text-align: center;
    }

        .year-month-table .year-month-header a:link,
        .year-month-table .year-month-header a:visited,
        .year-month-table .year-month-header a:hover,
        .year-month-table .year-month-header a:active {
            text-decoration: none;
            color: #FFF;
        }

    .year-month-table .year-date-table a:link,
    .year-month-table .year-date-table a:visited,
    .year-month-table .year-date-table a:hover,
    .year-month-table .year-date-table a:active {
        text-decoration: none;
        color: #000;
    }

    .year-month-table .year-date-table .required a:link,
    .year-month-table .year-date-table .required a:visited,
    .year-month-table .year-date-table .required a:hover,
    .year-month-table .year-date-table .required a:active {
        text-decoration: none;
        color: #990000;
    }

    .year-month-table .year-date-header {
        background-color: #c0c0c0;
        border: 1px solid #6F6F6F;
        font-weight: 600;
        font-size: 90%;
        padding: .20rem;
        text-align: center;
        width: 220px;
    }

    .year-month-table .year-date-container {
        border: 1px solid #6F6F6F;
        padding: .20rem;
        text-align: center;
        width: 220px;
    }

    .year-month-table .year-date-table .year-date-group {
        text-align: center;
        text-decoration: underline;
        padding: .20rem;
        font-size: 80%;
    }

    .year-month-table .year-date-table .year-date-topic {
        font-weight: 600;
        text-align: center;
        padding: .20rem;
    }

.fc-event.event-required,
.event-required .fc-event-dot {
    background-color: #990000;
}

.embed-body {
    padding-top: 2.1rem;
}

    .embed-body > .navbar {
        background-color: #6F6F6F;
        color: #FFF;
    }

.embed-calendar {
    padding: .5em;
    width: 100%;
    background-color: #c0c0c0;
}

.embed-day {
}

.embed-event {
    background-color: #FFF;
    border: 1px solid #c0c0c0;
    color: #000;
}

.embed-day-label {
    font-weight: 600;
}

.embed-wrapper {
    padding: .25em;
}

    .embed-wrapper a:link,
    .embed-wrapper a:visited,
    .embed-wrapper a:hover,
    .embed-wrapper a:active {
        color: #000;
        text-decoration: none;
    }

.embed-time {
    margin-right: 1em;
}

.embed-title {
}

.embed-detail {
    padding: .25em .75em;
}

    .embed-detail i {
        width: 14px
    }
