.summary {
    font-family: Calibri, Helvetica, sans-serif;
    font-size: 11pt;
}

.summary-section {
    color: #2F5496;
    font-size: 14pt;
    font-weight: 700;
    margin: 0.67em 0;
}

.summary-cell {
    border: 1px solid #000;
    padding: 2px 4px;
    min-width: 110px;
    font-size: 10pt;
}

.summary-detail-section {
    font-size: 12pt;
    font-weight: 700;
    margin: 0.67em 0;
}