.summary {
    font-family: Calibri, sans-serif;
}
.summary-section {
    color: #2F5496;
    font-size: 14pt;
    font-weight: 700;
    margin: 0.67em 0;
}

.summary-cell {
    border: 1px solid #000;
    padding: 4px 8px;
    min-width: 120px;
}

.summary-detail-section {
    font-size: 12pt;
    font-weight: 700;
    margin: 0.67em 0;
}