<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto py-5">
        <div class="card">
          <h4 class="card-header">
            <i class="fa fa-user"></i> Reset Password
          </h4>
          <div class="card-body">
            <p class="card-text font-weight-bold">Enter your email to receive a password reset link.</p>
            <form>
              <div class="form-group">
                <label for="email-input">Email Address</label>
                <input id="email-input"
                       type="email"
                       class="form-control"
                       placeholder="Email Address">
              </div>
              <button id="reset-button"
                      type="submit"
                      class="btn btn-primary">Reset</button>

            </form>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-center">
                <a href="/register">Register as a new user</a>
              </div>
              <div class="col text-center">
                <a href="/login">Return to Login</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
