<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto py-5">
        <div class="card">
          <h4 class="card-header">
            <i class="fas fa-user"></i> User Login
          </h4>
          <div class="card-body">
            <alert active.bind="notifier.alert.active"
                   message.bind="notifier.alert.message"
                   type.bind="notifier.alert.type"></alert>

            <form id="login-form"
                  name="login-form"
                  role="form"
                  submit.delegate="processForm()"
                  dirty.bind="dirty"
                  novalidate="novalidate">
              <div class="form-group">
                <label for="email-input">Email Address</label>
                <input id="email-input"
                       type="email"
                       class="form-control"
                       placeholder="Email Address"
                       value.bind="emailAddress & validate">
              </div>
              <div class="form-group">
                <label for="password-input">Password</label>
                <input id="password-input"
                       type="password"
                       class="form-control"
                       placeholder="Password"
                       value.bind="password & validate">
              </div>
              <busy-button id="login-button"
                           label="Login"
                           disabled.bind="!dirty"
                           busy.bind="loading"></busy-button>
            </form>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-center">
                <a href="/register">Register as a new user</a>
              </div>
              <div class="col text-center">
                <a href="/forgot-password">Forgot your password</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
