@page "/global/user/create"
@model InstructorIQ.WebApplication.Pages.Global.User.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/global/user/index">Users</a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">Create User</li>
        </ol>
    </nav>

    <alert type="@TempData["alert.type"]"
           message="@TempData["alert.message"]" />

    <div class="card mb-5">
        <div class="card-header">
            <i class="fas fa-user mr-2"
               aria-hidden="true"></i> User
        </div>
        <div class="card-body">
            <form id="user-form"
                  name="user-form"
                  role="form"
                  method="post">

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Input.DisplayName">Display Name <required /></label>
                    <input asp-for="Input.DisplayName"
                           type="text"
                           class="form-control"
                           placeholder="Display Name">
                    <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email">Email Address <required /></label>
                    <input asp-for="Input.Email"
                           type="email"
                           class="form-control"
                           placeholder="Email Address">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col">
                        <button id="save-button"
                                type="submit"
                                class="btn btn-primary">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


