// Custom styles for this template

.card, .social-box {
  border-top-width: 0;
  border-bottom-width: 2 * $card-border-width;
}

[class*="card-outline-"] {
  border-top-width: 1px !important;
}

[class*="card-accent-"] {
  border-top-width: 2px !important;
}

.aside-menu {
  .nav-tabs .nav-link,
  .callout {
    border-radius: 0;
  }
}

// Here you can add other styles
.navbar {
  .form-inline {
    i {
      color: #fff;
    }
    
    .form-control {
      min-width: 250px;
      color: #fff;
      border: 0;
      background-color: transparent;    
    }    

    .search-control::placeholder { 
      color: rgba(255, 255, 255, 0.7);
      opacity: 1; 
    }
  
    .search-control:-ms-input-placeholder { 
      color: rgba(255, 255, 255, 0.7);
    }
    
    .search-control::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  
}
