// Changing the theme colors
$primary: #337ab7;
//$secondary: #436296;
$success: #5cb85c;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;
$light: #f8f8f8;
//$dark: #0f1319;


// Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
//$theme-colors: (
//  "cool": #4d3fa3
//);

.card {
	> .table {
		border-right: 0;
		border-left: 0;
		margin-bottom: 0;

		&:last-child {
			border-bottom: 0;
		}

		td:first-child,
		th:first-child {
			border-left: 0;
		}

		td:last-child,
		th:last-child {
			border-right: 0;
		}

		tr:first-child td,
		tr:first-child th {
			border-top: 0;
		}

		tr:last-child td {
			border-bottom: 0;
		}
	}

	.card-header + .table {
		border-top: 0;
	}
}
